/* Just as an example */
body {
    background-color: #212529;
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    background-color: #282d31;
    max-width: 30rem;
    padding: 1rem 0;
}

h1 {
    order: 1;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 7rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    color: $secondary;
    text-shadow: 0 -2px 2px #090e11, 0 -4px 2px #090e11, 0 -6px 2px #090e11, 0 -8px 2px #090e11, 0 -10px 2px #090e11;

    span {
        font-weight: 200;
        text-shadow: 0 -1px 1px #090e11, 0 -2px 1px #090e11, 0 -3px 1px #090e11, 0 -4px 1px #090e11, 0 -5px 1px #090e11;
    }
}